#wrapper {
    position:fixed;
    z-index:11;
    background:inherit;
  }
  
  #style body {
    z-index: 9;
  }
  
  #wrapper h1 {
      font-size:300%;
      font-family: Didot, Serif;
      color:white;
      text-align: center;
      position:fixed;
      top:3%;
      left:50%;
      transform: translate(-50%, -50%);
      border-bottom: 1px solid white;
  }
  
  .links {
    list-style-type: none;
    position: fixed;
    top: 12%;
    left:5%;
  }
  
  .links li {
    float: left;
    margin-left:100px;
  }
  
  .links button {
    font-family: Didot, Serif;
    font-size: 170%;
    color: white;
    line-height: 1.2;
    font-weight: 500;
    background:none; 
    border: 0px solid white; 
  }
  
  .links button:hover {
    border:2px solid white;
  }
  
  .links .active button{
    border: 2px solid white;
  }

  #contactinfo {
    margin-top:15%;
    margin-bottom:5%;
    margin-left:5%;
    margin-right:5%;
    padding:3%;
    z-index:10;
    background: rgba(250,250,250,.7);
    background-repeat: none;
  }

  .contact {
    left: 50%;
    background:rgba(250,250,250,.9);
    padding: 3%;
    margin:5%;
    overflow:hidden;
  }

  .contact img {
    width: 10%;
    height: auto;
    float:left;
  }

  .contact a {
    margin-left:5%;
    text-align: center;
    font-size: 200%;
  }